<div class="contact d-flex justify-content-center my-5 p-4  " id="Contact">
    <div class="container p-1 ">
      <div class="text-center">
          <p class="pt-4">CONTACT ME</p>
          <span class=""><i class="fa-solid fa-star position-absolute "></i></span>
      </div>
  
      <div class="inputs w-50 position-relative start-50 translate-middle-x">
        <input type="text" class="form-control m-4 fs-4" placeholder="Name" >
       <div class="fasel m-3"></div>
        <input type="text" class="form-control m-4 fs-4" placeholder="Email Address" >
        <div class="fasel m-3"></div>
        <input type="text" class="form-control m-4 fs-4" placeholder="Phone number" >
        <div class="fasel m-3"></div>
        <input type="text" class="form-control m-4 fs-4" placeholder="Message" >
        <br><br><br><br><br>
        <div class="fasel m-3"></div>
        <button class="btn btn-primary btn-xl m-4 px-4 py-2 fs-4">Send</button>
      </div>
     
</div>