<div class="about d-flex justify-content-center my-5 " id="About">
  <div class="container p-1 ">
    <div class="text-center">
        <p class="pt-4">ABOUT</p>
        <span class=""><i class="fa-solid fa-star position-absolute "></i></span>
    </div>

    <div class="row d-flex d-inline-block justify-content-center  ">
        <div class="col-4  ">
 <p class="fs-4 p-3">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
        <div class="col-4">
 <p class="fs-4 p-3">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
        </div>
     </div>
  </div>


</div>