
<nav class="navbar position-fixed top-0 start-0 ">
    <div class="container w-75" >
      <a class="navbar-brand px-5" href="#">
        <div class="texts ">
        <p>START ANGULAR</p>
        </div>
      </a>
      <ul class="navbar-nav ms-auto list-group-horizontal ">
        <li>
           <a routerLinkActive="active-link"  href="#Portofolio">Portofolio</a>
        </li>
        <li>
         <a routerLinkActive="active-link" href="#About" >About</a>
        </li>
        <li>
         <a  routerLinkActive="active-link"   href="#Contact">Contact</a>
        </li>

      </ul>
    </div>
  </nav>