<div class="location text-white d-flex justify-content-center ">
    <div class=" container m-3 row ">
        <div class="col-4 text-center">
            <h4>LOCATION</h4>
            <br>
            <p>2215 John Daniel Drive <br>
                Clark, MO 65243

            </p>
        </div>
        <div class="col-4 text-center">
            <h4>AROUND THE WEB</h4>
            <br>

            <div class="icons d-flex d-inline-block justify-content-center">
                <div class="icon1 m-2"> <i class="fa-brands fa-facebook-f py-3 fs-5"></i></div>
                <div class="icon1 m-2 "><i class="fa-brands fa-twitter py-3 fs-5"></i></div>
                <div class="icon1 m-2 "><i class="fa-brands fa-linkedin-in py-3 fs-5"></i></div>
                <div class="icon1 m-2 "><i class="fa-solid fa-globe py-3 fs-5"></i></div>
            </div>
        </div>
        <div class="col-4 text-center">
            <h4>ABOUT FREELANCER</h4>
            <br>
            <p>Freelance is a free to use, MIT<br>
                licensed Bootstrap theme created by
                <br>Route

            </p>
        </div>
    </div>

</div>
<div class="last text-center p-3">
    <p class="text-white">Copyright © Your Website 2021</p>

</div>