<div class="home  p-5">
    <div class=" container position-absolute top-50 start-50 translate-middle-x">

        <img class="position-absolute start-50 translate-middle-x" src="assets\images\avataaars.svg" alt="">
        <p class="position-absolute start-50 translate-middle-x">START ANGULAR</p>
       
        <span class="start-50 translate-middle-x"><i class="fa-solid fa-star position-absolute"></i></span>
        <h3 class="position-absolute start-50 translate-middle-x">
            Graphic Artist - Web Designer - Illustrator</h3>
   
      

    </div>

</div>
