<div id="Portofolio">
    <div class="container m-5 p-5">
        <p class="position-absolute start-50 translate-middle-x">PORTOFOLIO</p>
        <span class="start-50 translate-middle-x"><i class="fa-solid fa-star position-absolute"></i></span>
    </div>
    <div class="container w-75 p-5">
      <div class="row ">
         <div class="col-4">
             <img src="assets\images\cabin.png" alt="">
         </div>
         <div class="col-4">
            <img src="assets\images\cake.png" alt="">
        </div>
        <div class="col-4">
            <img src="assets\images\circus.png" alt="">
        </div>
        <div class="col-4">
            <img src="assets\images\game.png" alt="">
        </div>
        <div class="col-4">
            <img src="assets\images\safe.png" alt="">
        </div>
        <div class="col-4">
            <img src="assets\images\submarine.png" alt="">
        </div>
    
      </div>
    </div>
</div>
